*.class
*.log
.idea/
project/CompilerFlags.scala
project/target/config-classes/$067fb855133f4868451b.cache
project/target/config-classes/$0f526f17a38ec8f99e4e.cache
project/target/config-classes/$35117de1099d9b4a8eca.cache
project/target/config-classes/$3bf610475b821bdb4056.cache
project/target/config-classes/$5cbfc0ac75433db479fe.cache
project/target/config-classes/$5d7cfe8b008b3a228ea0.cache
project/target/config-classes/$c9d28cc04926962903ad.cache
project/target/config-classes/$d1bf7e8fe861db120bed.cache
project/target/scala-2.10/sbt-0.13/resolution-cache/
project/target/streams/
target/.history
target/journal/000016.sst
target/journal/000018.sst
target/journal/CURRENT
target/journal/LOCK
target/journal/LOG
target/journal/LOG.old
target/journal/MANIFEST-000017
target/scala-2.12/classes/application.conf
target/scala-2.12/resolution-cache/
target/snapshots/
target/streams/
